<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>todoItems_list</title>
</head>

<body>
    <h1>TODO : list...</h1>

    <table>
        <h1>Add Item todo ____________</h1>    
        {% for item in items %}
        <h1>Add Item todo ____________</h1>    
        <tr style="color:green; font-size:24px;">
            <h1>Add Item todo ____________</h1>    
            {% if item.done %}
            <h1>Add Item todo ____________</h1>    
            <td><strike>{{ item.name }}</strike></td>
            {% else %}
            <td>{{ item.name }}</td>
            <h1>Add Item todo ____________</h1>    
            {% endif %}

            <td>
                <form method="POST" action="toggle/{{ item.id }}">
                    {% csrf_token %}
                    <input type="submit" value="toggle" />
                </form>
            </td>



            <td>
                <form method="GET" action="edit/{{ item.id }}">
                    <input type="submit" value="Edit" />
                </form>
            </td>
            <td>

        </tr>
        {% empty %}
        <h1>*************</h1>
        <h1>Items todo : 0</h1>
        <h1>*************</h1>
        {% endfor %}
    </table>
    <br>
    <a href="add">(+) add item</a><br>
    
    <br>
</body>

</html>
